Django>=5.0
django-mptt>=0.16
djangorestframework>=3.14
django-filter>=24.0
djangorestframework_simplejwt>=5.3
django-cors-headers>=4.3
django-oauth-toolkit>=2.3
drf-spectacular>=0.27
drf-spectacular-sidecar>=2024.1
google-auth>=2.25
pillow>=10.0
python-decouple>=3.8
